.button {
  padding: 12px 28px;
  border-radius: 4px;
  border: 2px solid #1d6ad6;
  background-color: #1d6ad6;
  color: #f5f9ff;
  font-size: 16px;
  letter-spacing: 0.8px;
  font-weight: 600;
}

.button:hover {
  background-color: #19519F;
  border-color: #19519F;
}

.secondary {
  background-color: #FCFDFF;
  color: #1d6ad6;
}

.secondary:hover {
  background-color: #FCFDFF;
  color: #19519F;
}