.section {
  padding: 44px 0px 72px 0px;
}

.about,
.start {
  background-color: #f5f9ff;
}

.about {
  padding-bottom: 120px;
}

.startContent {
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
}

.start h1 {
  font-size: 64px;
  font-weight: 600;
  color: #052450;
  margin-bottom: 20px;
}

.start p {
  font-size: 24px;
  color: #282829;
  line-height: 1.4;
  margin-bottom: 32px;
}

.sectionTitle {
  font-size: 48px;
  font-weight: 500;
  color: #052450;
  margin-bottom: 44px;
}

.sectionTitle::after {
  content: "";
  display: block;
  width: 64px;
  height: 4px;
  border-radius: 4px;
  background-color: #00bd9d;
  margin-top: 4px;
}

.units {
  display: grid;
  gap: 24px;
}

.unitsTypes {
  display: grid;
  gap: 36px;
}

.unit {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  gap: 32px;
}

.unitTitle {
  border-right: 1px solid #cdd1d6;
}

.unitTitle h2 {
  font-size: 36px;
  font-weight: 400;
  color: #052450;
  margin-bottom: 12px;
}

.unitTitle h3 {
  font-size: 20px;
  font-weight: 300;
  color: #052450;
}

.unit p {
  font-size: 20px;
  line-height: 1.5;
  color: #282829;
}

.text {
  font-size: 24px;
  line-height: 1.5;
  color: #282829;
}
