.section {
	padding: 36px 0px 64px 0px;
}

.about,
.start {
	background-color: #f5f9ff;
}

.start {
	padding-top: 40px;
}

.about {
	padding-bottom: 120px;
}

.startContent {
	margin: 0 auto;
	width: 100%;
	max-width: 840px;
	display: grid;
	place-content: center;
	place-items: center;
	text-align: center;
}

.start h1 {
	text-align: center;
	font-size: 56px;
	font-weight: 600;
	color: #052450;
	margin-bottom: 20px;
}

.start p {
	font-size: 20px;
	color: #282829;
	line-height: 1.4;
	margin-bottom: 32px;
}

.sectionTitle {
	font-size: 40px;
	font-weight: 500;
	color: #052450;
	margin-bottom: 44px;
	line-height: 1.2;
}

.sectionTitle::after {
	content: "";
	display: block;
	width: 64px;
	height: 3px;
	border-radius: 4px;
	background-color: #00bd9d;
	margin-top: 4px;
}

.units,
.unitsTypes {
	display: grid;
}

.units {
	gap: 24px;
}

.unitsTypes {
	gap: 28px;
}

.text {
	font-size: 20px;
	line-height: 1.5;
	color: #282829;
}

@media (max-width: 840px) {
	.section {
		padding: 32px 0px 56px 0px;
	}

	.start {
		padding-top: 36px;
		padding-bottom: 48px;
	}

	.start h1 {
		font-size: 48px;
	}

	.units {
		gap: 32px;
	}
}

@media (max-width: 640px) {
	.start h1 {
		font-size: 44px;
	}

	.start p {
		font-size: 18px;
		margin-bottom: 24px;
	}

	.text {
		font-size: 16px;
	}

	.sectionTitle {
		font-size: 32px;
		margin-bottom: 36px;
	}

	.sectionTitle::after {
		width: 44px;
		height: 2px;
		border-radius: 4px;
		margin-top: 2px;
	}

	.unitsTypes {
		gap: 16px;
	}
}

@media (max-width: 520px) {
	.section {
		padding: 20px 0px 40px 0px;
	}

	.start {
		padding-top: 24px;
	}

	.start h1 {
		font-size: 32px;
		margin-bottom: 16px;
	}

	.start p {
		font-size: 14px;
		margin-bottom: 20px;
	}

	.sectionTitle {
		font-size: 24px;
		margin-bottom: 28px;
	}

	.sectionTitle::after {
		width: 28px;
		margin-top: 2px;
	}

	.unitsTypes {
		gap: 8px;
	}

	.text {
		font-size: 12px;
	}
}
