.unit {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(auto, 262px) 1fr;
}

.title {
  font-size: 32px;
  font-weight: 400;
  color: #052450;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 16px;
  font-weight: 300;
  color: #052450;
}

.definition {
  border-left: 1px solid #cdd1d6;
  padding-left: 28px;
  font-size: 20px;
  line-height: 1.5;
  color: #282829;
}
